<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的全部</title>
    <link rel="stylesheet" href="../static/css/base-my.css">
    <link rel="stylesheet" href="../static/css/my.css">

</head>

<body>

    <div class="header">
        <a href="/homepage">
            <div class="back">返回</div>
        </a>
        <img class="head" src="../static/images/head.png">
        <h1>小猿宝</h1>
        <p class="intro">我叫小猿宝，今年15岁，这是我的个人主页； 我的梦想是，用代码改变世界。</p>
    </div>
    <!-- 我的生活 -->
    <div class="life-content">
        <h2 class="life-title">我的生活</h2>
        <img src="../static/images/line.png">
        <p class="life-info">这是我的秘密基地，里面记录了我的成长足迹，一起来看看吧～</p>
        <div>
            <img class="life-pic" src="../static/images/life1.png">
            <img class="life-pic" src="../static/images/life2.png">
            <img class="life-pic" src="../static/images/life3.png">
        </div>
        <div>
            <img class="life-pic" src="../static/images/life4.png">
            <img class="life-pic" src="../static/images/life5.png">
            <img class="life-pic" src="../static/images/life6.png">
        </div>
    </div>
    <!-- 我的荣誉 -->
    <div class="honor-content">
        <h2 class="honor-title">我的荣誉</h2>
        <img src="../static/images/honer-line.png">
        <p class="honor-info">在成长过程中，我会记住那些闪闪发光的日子</p>

        <div>
            <img class="honor-pic" src="../static/images/honer1.png">
            <img class="honor-pic" src="../static/images/honer2.png">
            <img class="honor-pic" src="../static/images/honer3.png">
            <img class="honor-pic" src="../static/images/honer4.png">
        </div>
    </div>

    <!-- 我的游戏 -->
    <div class="game-content">
        <h2 class="game-title">我的编程游戏</h2>

        <div class="game-block">
            <img class="game-pic" src="../static/images/game1.png">
            <div class="game-pic-title">打不完的地鼠</div>
        </div>

        <div class="game-block">
            <img class="game-pic" src="../static/images/game2.png">
            <p class="game-pic-title">重返森林</p>
        </div>

        <div class="game-block">
            <img class="game-pic" src="../static/images/game3.png">
            <p class="game-pic-title">动物派对</p>
        </div>
    </div>


</body>

</html>