<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未来学校</title>
    <link rel="stylesheet" href="../static/css/school.css">
</head>

<body>
    <div class="w">
        <div class="header">
            <div class="header-info">
                <h1 class="school-name">未来学校</h1>
                <p class="school-description">猿编城中的实验示范学校，距离阳光小区一个街区，学校配套设施有操场、体育馆、图书馆、教学楼、多功能楼等。
                </p>
            </div>
        </div>

        <div class="school-content">
            <div class="part1">
                <div class="part1-title">
                    <img src="../static/images/bulletin.png" alt="">
                </div>
                <div class="bulletins">
                    <div class="bulletin">
                        <div class="bulletin-time">
                            <div class="bulletin-time-line"></div>
                            <div class="bulletin-time-text">2032-6-10</div>
                        </div>
                        <!-- 创建模板变量t_bulletin1来表示公告板第一条新闻-->
                        <p class="bulletin-info">学校操场装修中,暂停使用。</p>
                    </div>
                    <div class="bulletin">
                        <div class="bulletin-time">
                            <div class="bulletin-time-line"> </div>
                            <div class="bulletin-time-text">2032-6-10</div>
                        </div>
                        <!-- 创建模板变量t_bulletin2来表示公告板第二条新闻-->
                        <p class="bulletin-info">猿编程研究院举办夏令营活动，有意向的同学联系猿博士。</p>
                    </div>
                    <div class="bulletin">
                        <div class="bulletin-time">
                            <div class="bulletin-time-line"> </div>
                            <div class="bulletin-time-text">2032-6-10</div>
                        </div>
                        <!-- 创建模板变量t_bulletin3来表示公告板第三条新闻-->
                        <p class="bulletin-info">暑假来临，各位同学务必注意自身安全。 </p>
                    </div>
                </div>
            </div>

            <div class="part2">
                <div class="part2-title">
                    <img src="../static/images/campus.png" alt="">
                </div>
                <div class="campus-zone">
                    <div class="zone zone1">
                        <img class="zone1-pic" src="../static/images/playground.png" alt="">
                        <div class="zone-title">
                            <div class="zone-title-line"></div>
                            <div class="zone-title-text">操场</div>
                        </div>
                        <div class="zone-description">体育活动专置场地</div>
                    </div>
                    <div class="zone zone2">
                        <img class="zone2-pic" src="../static/images/classroom.png" alt="">
                        <div class="zone-title">
                            <div class="zone-title-line"></div>
                            <div class="zone-title-text">教室</div>
                        </div>
                        <div class="zone-description">向学生传授课业的场所</div>
                    </div>
                    <div class="zone zone3">
                        <img class="zone3-pic" src="../static/images/library.png" alt="">
                        <div class="zone-title">
                            <div class="zone-title-line"></div>
                            <div class="zone-title-text">图书馆</div>
                        </div>
                        <div class="zone-description">收藏图书资料供学生阅览</div>
                    </div>
                </div>
            </div>

            <div class="part3">
                <div class="part3-title">
                    <img src="../static/images/alumni.png" alt="">
                </div>

                <div class="alumni">
                    <div class="alumni-people">
                        <img class="alumni-people-pic" src="../static/images/alumni-people1.png" alt="">
                        <div class="alumni-people-name">优秀教师</div>
                    </div>

                    <div class="alumni-people alumni-people-middle">
                        <img class="alumni-people-pic" src="../static/images/alumni-people2.png" alt="">
                        <div class="alumni-people-name">著名科学家</div>
                    </div>

                    <div class="alumni-people">
                        <img class="alumni-people-pic" src="../static/images/alumni-people3.png" alt="">
                        <div class="alumni-people-name">著名作家</div>
                    </div>
                </div>

            </div>
            <div class="part4">
                <div class="part4-title">
                    <img src="../static/images/course.png" alt="">
                </div>

                <div class="course-container">
                    <div class="course">
                        <div class="course-pic-container">
                            <img class="course-pic" src="../static/images/course-pic1.png" alt="">
                        </div>
                        <div class="course-info">
                            <div class="course-title">壮猿实验室</div>
                            <div class="course-description">
                                由壮猿介绍生活中常见的智能设备，讲解它们背后的原理。
                            </div>
                            <div class="course-time">
                                2032年2月5日
                            </div>
                        </div>
                    </div>

                    <div class="course">
                        <div class="course-pic-container">
                            <img class="course-pic" src="../static/images/course-pic2.png" alt="">
                        </div>
                        <div class="course-info">
                            <div class="course-title">壮猿小常识</div>
                            <div class="course-description">
                                由壮猿介绍生活中常见的小常识，帮助小朋友们快乐成长。
                            </div>
                            <div class="course-time">
                                2032年1月3日
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>