<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子贺卡</title>
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
    <div class="card">
        <div class="top">
            <img class="top-pic" src="../static/images/top.png" alt="">
        </div>
        <div class="bottom">
            <div class="content">
                <!--创建对应的模板变量，完善电子贺卡。提示：模板变量需要写在两个大括号里-->
                <div class="receive-name">            :</div>
                <div class="content-info">            </div>
                <div class="send-name">           </div>
            </div>
        </div>
    </div>
</body>
</html>
