<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!--form表单 并且设置action为'/info'-->
    <form action="/info">
        <!--文本框 设置name为user-->
        <input name="user" type="tel" class="Input username-input" placeholder="用户名" value="">
        <br>
        <!--密码框 设置name为pwd-->
        <input name="pwd" type="password" class="Input username-input" placeholder="密码" value="">
        <br>
        <!--提交按钮-->
        <button type="submit" class="Button SignFlow-submitButton Button--primary Button--blue">登录</button>
    </form>




</body>

</html>