<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>气象记录</title>
</head>
<body>
    <form action="/weather">
        <!-- 设置城市名称输入框，name属性设置为city-->
        城市：<input type="text" name="city">
        <br>
        <!-- 设置日期输入框，name属性设置为date-->
        日期：<input type="date" name="date">
        <br>
        <!-- 设置天气输入框，name属性设置为weather-->
        天气：<input type="text" name="weather">
        <br>

        <!-- 设置提交按钮，按钮上的文字为"提交"-->
        <input type="submit" value="提交">
    </form>
</body>
</html>