<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>调查问卷</title>
	<link rel="stylesheet" href="../static/css/question.css">
</head>
<body>
	<div class="header">
		<h1>校园环境保护调查问卷</h1>
		<p>大家好，我们正在进行一项有关保护校园环境的问卷调查，希望占用您一点宝贵的时间
			参与下我们的调查，您的参与会使得我们的校园环境更加美丽，更加充满活力。</p>
		<hr>
	</div>
	<div class="content">
		<form action="" method="">

			<h3>1、你是否有过与同学对校园环境问题的讨论呢？</h3>
			<input type="" name="" value="">经常
			<input type="" name="" value="">偶尔
			<input type="" name="" value="">从不

			<h3>2、你觉得校园环境对你重要么？</h3>
			<input type="" name="" value="">很重要
			<input type="" name="" value="">一般重要
			<input type="" name="" value="">无所谓

			<h3>3、你在校园看到垃圾会主动捡起放入垃圾箱么？</h3>
			<input type="" name="" value="">一定会
			<input type="" name="" value="">偶尔会
			<input type="" name="" value="">从不会

			<h3>4、你有什么好的办法可以提高大家对校园环境的重视呢？</h3>
			<textarea cols="50" rows="10" name=""></textarea>

			<br>
			<input class="sub" type="submit" value="提交">
		</form>
	</div>
</body>
</html>
