.star-list-people-item {

    width: 180px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.star-list-people-item-header {
    
    
}

.star-list-people-item-header img{
    width: 180px;
    height: 180px;
    border-radius: 50%;

    border: 5px solid white;
    box-sizing: border-box;
}

.list-bottom .star-list-people-item:nth-child(1) img{
    background-color: #FF9737;;

}
.list-bottom .star-list-people-item:nth-child(2) img{
    background-color: #40C6FF;

}

.list-bottom .star-list-people-item:nth-child(3) img{
    background-color: #FF5A8C;

}
.list-bottom .star-list-people-item:nth-child(4) img{
    background-color: #A180FF;

}


.star-list-people-item-name {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;

    text-align: center;
    color: #444444;

}

.star-list-people-item-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FF7A00;
}
