/* 运动会 */

.pic-l {
    width: 642px;
    height: 277px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 10px;
}

.pic-s {
    width: 266px;
    height: 277px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 10px;
}