h1{
    text-align: center;
}

body {

}
.menu{
    width:900px;
    margin: 0 auto;

}

.item {
    display: inline-block;
    width: 380px;
    margin-left: 25px;
    margin-right: 25px;
    text-align:center;
}
