<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>健康情况调查问卷</title>
</head>
<body>

    <h1>健康调查问卷</h1>
    <!-- 设置网络请求方式为POST-->
    <form action="/result"  >
        <!-- 设置单选框，选项之间互斥-->
        <h3>1.您的性别</h3>
        <input type="radio" name="q1" value="男">男
        <input type="radio" name="q1" value="女">女
        <br>
        <!-- 设置文本输入框-->
        <h3>2.您的年龄</h3>
        <input type="text" name="q2">
        <br>
        <!-- 设置单选框，选项之间互斥-->
        <h3>3.您每天的休息时间</h3>
        <input type="radio" name="q3" value="9点-10点">9点-10点
        <input type="radio" name="q3" value="10点-11点">10点-11点
        <input type="radio" name="q3" value="11点-12点">11点-12点
        <input type="radio" name="q3" value="12点之后">12点之后
        <br>
        <!-- 设置单选框，选项之间互斥-->
        <h3>4.您多久会进行一次体育锻炼</h3>
        <input type="radio" name="q4" value="每天">每天
        <input type="radio" name="q4" value="每周">每周
        <input type="radio" name="q4" value="每月">每月
        <input type="radio" name="q4" value="从不">从不
        <br>
        <!-- 设置单选框，选项之间互斥-->
        <h3>5.您多久会进行一次体检</h3>
        <input type="radio" name="q5" value=    >一年
        <input type="radio"                     >生病的时候
        <input type="radio"                     >从不
        <br>
        <br>
        <!-- 设置提交按钮-->
        <input type="submit" value="提交">
    </form>

</body>
</html>