<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>日程规划表</title>
</head>
    <div class="w">
        <form action="/save" method="POST">
            <div class="container">
                <div class="container-top">
                    添加日程
                    <div class="select-container">
                        <span class="select-title">选择分类</span>
                        <select name="category" class="select-menu">
                            <option value="学习">学习</option>
                            <option value="生活">生活</option>
                            <option value="运动">运动</option>
                        </select>
                    </div>
                    <div class="container-middle">
                        <textarea name="content" cols="110" rows="10" placeholder="请输入今天新的日程"></textarea>
                    </div>
                    <div class="container-bottom">
                        <a href="/save">
                            <input type="submit" id="btn" class="submit-btn" value="添加日程">
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <div class="container">
            <div class="container-top">学习</div>
            {% for item in t_data %}
                {% if item['category'] == '学习' %}
                    {% if item['state'] == '待完成' %}
                        <div class="item">
                            <div class="item-top">
                                <span class="subject">{{ item['content'] }}</span>
                                <div class="item-op">
                                    <a href="/delete?id={{ item['_id'] }}">
                                        <span class="delete-btn">删除</span>
                                    </a>
                                    <a href="/finish?id={{ item['_id'] }}">
                                        <span class="finish-btn">完成</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
         </div>

        <div class="container">
            <div class="container-top">生活</div>
            {% for item in t_data %}
                {% if item['category'] == '生活' %}
                    {% if item['state'] == '待完成' %}
                        <div class="item">
                            <div class="item-top">
                                <span class="subject">{{ item['content'] }}</span>
                                <div class="item-op">
                                    <a href="/delete?id={{ item['_id'] }}">
                                        <span class="delete-btn">删除</span>
                                    </a>
                                    <a href="/finish?id={{ item['_id'] }}">
                                        <span class="finish-btn">完成</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
         </div>


        <div class="container">
            <div class="container-top">运动</div>
            {% for item in t_data %}
                {% if item['category'] == '运动' %}
                    {% if item['state'] == '待完成' %}
                        <div class="item">
                            <div class="item-top">
                                <span class="subject">{{ item['content'] }}</span>
                                <div class="item-op">
                                    <a href="/delete?id={{ item['_id'] }}">
                                        <span class="delete-btn">删除</span>
                                    </a>
                                    <a href="/finish?id={{ item['_id'] }}">
                                        <span class="finish-btn">完成</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="container">
            <div class="container-top">
                已完成任务
            </div>

            {% for item in t_data%}
                {% if item['state']=='已完成' %}
                    <div class="item">
                        <div class="item-top">
                            <span class="subject">{{ item['content'] }}</span>
                            <div class="item-op">
                                <a href="/revoke?id={{ item['_id'] }}">
                                    <span class="delete-btn">撤销</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>