/* 班级之星 */


.people {
    width: 180px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.people-head {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    box-sizing: border-box;
}


.people1-bg {
    background-color: #FF9737;
}

.people2-bg {
    background-color: #40C6FF;
}

.people3-bg {
    background-color: #FF5A8C;
}

.people4-bg {
    background-color: #A180FF;
}

.people-name {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #444444;
}

.people-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #FF7A00;
}