* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1440px;
    background: #6483FE url(../images/result-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}

.result {
    text-align: center;
}

.result-pic {
    width: 787px;
}

.btn {
    text-align: center;
}

.btn-sub {
    width: 250px;
    height: 58px;

    font-size: 26px;
    line-height: 58px;
    color: #583013;
    border: 0;

    background: linear-gradient(180deg, #FCFF82 0%, #FFE920 52.6%, #FFC120 100%);
    box-shadow: 0px 4px 20px rgba(42, 88, 255, 0.4);
    border-radius: 100px;
    text-align: center;
}
