* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.w {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFEC4A;
    padding-top: 285px;
}

.container {
    background-color: rgba(255, 255, 255);
    box-shadow: 0px 5px 24px rgba(215, 177, 121, 0.34), inset 0px -5px 0px rgba(255, 239, 154, 0.6);
    border-radius: 21px;
    border: 1px solid transparent;
    width: 960px;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container-top {
    padding: 10px 25px;
    align-items: center;
    margin-bottom: 10px;
}

.container-top {
    font-size: 35px;
    font-weight: bold;
    line-height: 100%;
    color: #633612;
}

.container-top a {
    text-decoration: none;
    font-weight: normal;
}

.add-btn {
    background-color: #FFA51E;
    box-shadow: 0px 4px 20px rgba(42, 88, 255, 0.4);
    border-radius: 100px;
    width: 180px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    color: #FFFFFF;
    float: right;
}

.container-top:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.add-btn:hover {
    background-color: #f09b1c;
    box-shadow: 0px 4px 10px rgba(42, 88, 255, 0.4);
}

.add-btn:active {
    box-shadow: 3px 3px 4px rgba(42, 88, 255, 0.4);
}

.item {
    box-shadow: 0px 8px 24px rgba(223, 175, 114, 0.3);
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: white;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: auto;
    padding: 20px;
    padding-left: 36px;
    margin-left: 15px;
    border-left: 14px solid #FF7B3F;
    box-sizing: border-box;
}

.item-top::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.item-op {
    float: right;
}

.subject {
    font-size: 32px;
    line-height: 100%;
    color: #FF7C22;
    font-weight: bold;
    border-bottom: 3px solid #FF7C22;
}

.time {
    font-size: 21px;
    line-height: 100%;
    color: #FFA367;
    margin-left: 25px;
}

.delete-btn {
    width: 91px;
    height: 38px;
    background-color: white;
    font-size: 24px;
    line-height: 100%;
    color: #FFD6BB;
    border: 4px solid #FFD6BB;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.delete-btn:hover {
    box-shadow: 0px 4px 10px rgba(178, 196, 253, 0.4);
}

.delete-btn:active {
    box-shadow: 3px 3px 4px rgba(197, 210, 252, 0.4);
}

.finish-btn {
    width: 91px;
    height: 38px;
    background: linear-gradient(153.67deg, #FFC633 16.55%, #FF912B 52.91%, #FF712B 86.35%);
    font-size: 24px;
    line-height: 100%;
    color: white;
    outline: none;
    border: 0;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

.finish-btn:hover {
    box-shadow: 0px 4px 10px rgba(178, 196, 253, 0.4);
}

.finish-btn:active {
    box-shadow: 3px 3px 4px rgba(197, 210, 252, 0.4);
}

.item-bottom {
    margin-top: 10px;
    font-size: 22px;
    line-height: 32px;
    color: #36240A;
}