<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的生活</title>
    <link rel="stylesheet" href="static/css/base-life.css">
    <link rel="stylesheet" href="static/css/life.css">
</head>
<body>

    <div class="header">
        <img class="head" src="static/images/head.png">
        <!-- 在h1标签中创建模板变量t_name表示名字 -->
        <h1 class="name">{{t_name}}</h1>
        <!-- 在p标签中创建模板变量t_name表示名字 t_age表示年龄-->
        <p class="intro">我叫，今年-1岁，这是我的个人主页； 我的梦想是，用代码改变世界。</p>
    </div>


    <div class="content">
        <h1 class="title">我的生活</h1>
        <img src="static/images/line.png">
        <p class="info">这是我的秘密基地，里面记录了我的成长足迹，一起来看看吧～</p>

        <div>
            <img class="pic" src="static/images/life1.png">
            <img class="pic" src="static/images/life2.png">
            <img class="pic" src="static/images/life3.png">
        </div>

        <div>
            <img class="pic" src="static/images/life4.png">
            <img class="pic" src="static/images/life5.png">
            <img class="pic" src="static/images/life6.png">
        </div>
    </div>

</body>

</html>