.info {
    width: 260px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px 100px 20px 150px;


}

.title {
    text-align:center;
    width:210px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
    width:210px;
    text-align: center;
}
