<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>操作成功</title>
    <link rel="stylesheet" href="../static/css/reminder.css">
</head>

<body>
    <div class="w">
        <div class="result-window-container">
            <img class="result-window" src="../static/images/pop-window.png">
        </div>
        <div style="text-align: center;">
            <a href="/board">
                <button class="submit-btn">
                    返回主页
                </button>
            </a>

        </div>
    </div>

</body>

</html>