/*
给教研老师做课使用，后期此说明需删除：
1 一些没有学习过的基础样式比如margin
2 非重要样式比如图片宽高
以上会放这个文件中，课上书写代码不会涉及此文件
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: AliceBlue;
    width: 1440px;
    margin: 0 auto;
}


.header {
    height: 378px;
    position: relative;
}

.head {
    margin-top: 39px;
    ;
    height: 150px;
    width: 150px;
}

.name {
    margin-top: 20px;
}

.intro {
    line-height: 58px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.title {
    margin-top: 20px;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;

}

.content {
    min-height: 645px;
    border: 1px solid transparent;
}

.info {
    margin-top: 14px;
    margin-bottom: 24px;
}

.pic {
    width: 240px;
    height: 400px;
    margin: 0, 5px, 10px, 5px;
    position: relative;
}