body {
    text-align: center;
}

.header {
    background-image: url(../images/game-bg1.png);

}

.content {
    background-image: url(../images/game-bg2.png);

}

.head {
    border: 4px solid MediumOrchid;
    border-radius: 40px;
}

.name {
    color: MediumOrchid;
}

.intro {
    background-color: Violet;
    opacity: 0.6;
    font-size: 28px;
    color: white;
}

.title {
    color: DarkOrchid;
    font-size: 48px;

}

.pic-title {
    font-size: 36px;
    color: DarkOrchid;
}

/* AI课用 */

.block {
    border: 10px solid White;
    border-radius: 20px;
    background-color: white;

}