<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动物保护留言板</title>
    <link rel="stylesheet" href="static/css/base.css">
    <!-- <link rel="stylesheet" href="static/css/animal.css"> -->
</head>
<body>
    <!-- 表单：提交留言 -->
    <form action="/submit" method="post">
        <p>加入我们，为保护野生动物发声</p>
        请选择动物：
        <!-- 使用【select标签】定义选择框
             name：animal
        -->
        <select name="">
            <option value="panda">熊猫</option>
            <option value="elephant">大象</option>
            <option value="tiger">老虎</option>
        </select>
        <br>
        <!-- 使用【textarea标签】定义文本域
             name：content
             placeholder: 写入你想表达的内容……（最多120字）
        -->
        <textarea name="content" cols="50" rows="10" placeholder="写入你想表达的内容……（最多120字）" required></textarea>
        <br>
        留言者：<input type="text" name="name" required>
        <br>
        <input type="submit" value="确认提交">
    </form>
    <!-- 展示留言 -->
    {% for dic in t_datalist %}
        <div class="border">
            <!-- 留言人 -->
            <!-- <p>{{dic['name']}}</p> -->
            <!-- 留言内容 -->
            <!-- <p>{{dic['content']}}</p> -->
        </div>
    {% endfor %}
</body>
</html>