* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.info {
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    background-color: rgba(255, 255, 255, .8);
    text-align: center;

    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    font-size: 25px;
    margin-top: 20px;
}

.content h2 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 20px;
}

.content p {
    font-size: 25px;
    font-weight: 300;
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
}


h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}


.item {
    margin-top: 20px;
    background-color: white;

    border-radius: 5px;
    padding: 10px 10px 20px 20px;
}

.item span {

    padding-left: 20px;
    font-size: 20px;
    font-weight: 300;
}

.item p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
}

.btn {
    text-align: center;
}

.btn input {
    width: 150px;
    height: 60px;
    border: 0px;
    border-radius: 10px;
    font-size: 30px;
    color: #FFF;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.btn input:hover {
    box-shadow: 0px 4px 20px rgba(42, 88, 255, 0.4);
}