<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页导航</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <div class="w">
        <!-- 为a标签添加href属性设置跳转我的主页 -->
        <a href="/homepage/my">
            <img class="pic" src="../static/images/index-my.png">
        </a>

        <!-- 为a标签添加href属性设置跳转班级主页 -->
        <a href="/homepage/class">
            <img class="pic" src="../static/images/index-class.png">
        </a>

        <!-- 为a标签添加href属性设置跳转学校主页 -->
        <a href="/homepage/school">
            <img class="pic" src="../static/images/index-school.png">
        </a>

        <a href="/homepage/nggyu">
            <p>1</p>
        </a>

        <a href="/homepage/daisuke">
            <p>2</p>
        </a>
    </div>
</body>

</html>