<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>科技问答</title>
</head>

<body>
    <form action="/result" method="POST">

        <!-- 模板变量t_q1,取值获取题目、选项内容 -->
        <h3>{{  }}</h3>
        <input type="radio" name="q1" value="A">{{ t_q1['options'][0] }}
        <input type="radio" name="q1" value="B">{{ t_q1['options'][1] }}
        <input type="radio" name="q1" value="C">{{ t_q1['options'][2] }}
        <input type="radio" name="q1" value="D">{{  }}

        <br>
        <input type="submit" value="确认提交">

    </form>
</body>
</html>