<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>科技问答</title>
</head>

<body>
    <form action="/result" method="POST">
        <!--模板变量t_data-->
        <!-- 模板for循环开始语句，遍历题目列表 -->
        {% for  in  %}
            <!-- 使用内置变量loop.index标注题目编号 -->
            <h3>{{ item['question'] }}</h3>
            <!-- input标签设置选项按钮，依次显示题目选项内容 -->
            <!-- 设置input标签的name属性值为题目id -->
            <!-- 设置为必选项 -->
            <input type="radio" name="q1" value="A">{{ item['options'][0] }}
            <input type="radio" name="q1" value="B">{{ item['options'][1] }}
            <input type="radio" name="q1" value="C">{{ item['options'][2] }}
            <input type="radio" name="q1" value="D">{{ item['options'][3] }}
        <!-- 模板for循环结束语句 -->
        {% endfor %}
        <br>
        <input type="submit" value="确认提交">
    </form>
</body>
</html>