<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>班级导航</title>
</head>

<body>
    <div class="w">
        <div class="nav-item">
            <a href="/star">
                <img class="nav-img nav-live" src="../static/images/index-star.png" alt="">

            </a>
        </div>
        <div class="nav-item">
            <a href="/wall">
                <img class="nav-img nav-honer" src="../static/images/index-wall.png" alt="">

            </a>
        </div>

        <div class="nav-item">
            <a href="/sport">
                <img class="nav-img nav-game" src="../static/images/index-sport.png" alt="">

            </a>
        </div>

    </div>
</body>

</html>