<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班级之星</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/star.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="back">返回</div>
        </a>
        <h1 class="classname">· 六年级二班 ·</h1>
    </div>

    <div class="description">
        <div class="description-top">
            <div class="description-title-bg"></div>
            <div class="description-title">班级介绍</div>
        </div>
        <div class="description-bottom">
            <p class="description-info">六年级二班，共29人。我们的班级宣言是：前方有彩虹，前方有鲜花，尽管路途遥远，我们仍带着青春的活力与完美的梦想，扬帆起航。
            </p>
        </div>
    </div>

    <div class="list">
        <div class="list-bg">
            <!-- 班级之星 -->
            <div class="partition">
                <div class="list-top">
                    <img src="../static/images/star-title.png" alt="">
                </div>

                <div class="list-bottom">
                    <div class="people">

                        <img class="people-head people1-bg" src="../static/images/star-people1.png" alt="">
                        <div class="people-name">卢迪</div>
                        <div class="people-title">编程之星</div>
                    </div>

                    <div class="people">

                        <img class="people-head people2-bg" src="../static/images/star-people2.png" alt="">
                        <div class="people-name">猪小弟</div>
                        <div class="people-title">创造之星</div>
                    </div>

                    <div class="people">

                        <img class="people-head people3-bg" src="../static/images/star-people3.png" alt="">
                        <div class="people-name">曼布</div>
                        <div class="people-title">劳动之星</div>
                    </div>

                    <div class="people">

                        <img class="people-head people4-bg" src="../static/images/star-people4.png" alt="">
                        <div class="people-name">弗兰兰</div>
                        <div class="people-title">好奇之星</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>